# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

#FAISS index / generated data
data/index

# Virtual environments
.venv/
venv/
ENV/
env/

# Jupyter
.ipynb_checkpoints/

# IDE
.idea/
.vscode/

# Secrets
.env

# OS
.DS_Store
Thumbs.db
